# 导入工具包

In [4]:
import numpy as np  # numpy库
import pandas as pd  # pandas库

# 定义时间属性拓展函数

In [28]:
# 时间属性拓展
def datetime2int(set1):
    '''
    将日期和时间数据拓展出其他属性，例如星期几、周几、小时、分钟等。
    :param set: 数据集
    :return: 拓展后的属性矩阵
    '''
    date_set = list(map(lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d'),
                   set1['order_date']))  # 将set中的order_date列转换为特定日期格式
    weekday_data = list(map(lambda data: data.weekday(), date_set))  # 周几
    daysinmonth_data = list(map(lambda data: data.day, date_set))  # 当月几号
    month_data = list(map(lambda data: data.month, date_set))  # 月份

    time_set = list(map(lambda times: pd.datetime.strptime(times, '%H:%M:%S'),
                   set1['order_time']))  # 将set中的order_time列转换为特定时间格式
    second_data = list(map(lambda data: data.second, time_set))  # 秒
    minute_data = list(map(lambda data: data.minute, time_set))  # 分钟
    hour_data = list(map(lambda data: data.hour, time_set))  # 小时

    final_set = []  # 列表，用于将上述拓展属性组合起来
    #final_set.extend((weekday_data, daysinmonth_data, month_data, second_data, minute_data, hour_data))  # 将属性列表批量组合
    final_set.extend((month_data, daysinmonth_data, weekday_data, hour_data, minute_data, second_data))  # 将属性列表批量组合
    #final_set.extend(list(weekday_data), list(daysinmonth_data), list(month_data), list(second_data), list(minute_data), list(hour_data))  # 将属性列表批量组合
    final_matrix = np.array(final_set).T  # 转换为矩阵并转置
    return final_matrix

# 读取数据

In [29]:
# 数据应用
# 定义特殊字段数据格式
dtypes = {'order_id': np.object,'pro_id': np.object,'use_id': np.object}

raw_data = pd.read_table('abnormal_orders.txt', delimiter=',', dtype=dtypes)  # 读取数据集

raw_data.head(2)#最后一列为样本的标签列

,order_id,order_date,order_time,cat,attribution,pro_id,pro_brand,total_money,total_quantity,order_source,pay_type,use_id,city,abnormal_label
0,4277880103,2013-10-17,13:09:16,NaN,GO,8000001215,NaN,1000.0,1000,游戏站点,当当支付,murongchun,北京市,0
1,4283851335,2013-09-23,14:09:49,手机摄影数码,POP,8002042497,三星,766000.0,200,主站,合并支付,dakehu_zy,上海市,1

In [30]:
data_date = raw_data[['order_date','order_time']]

data_date.head(2)

   order_date order_time
0  2013-10-17   13:09:16
1  2013-09-23   14:09:49

# 执行时间拓展函数

In [31]:
datetime2int(data_date)

array([[10, 17,  3, 13,  9, 16],
       [ 9, 23,  0, 14,  9, 49],
       [ 8, 27,  1, 14, 26, 38],
       ...,
       [ 3, 24,  6, 23, 54, 34],
       [ 9, 19,  3, 23, 55,  6],
       [ 5, 20,  0, 23, 58, 59]])